---
---

@import 'bootstrap';

body {
  font-size: 17px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 50px;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  letter-spacing: 0.25rem;
  margin-bottom: 2rem;
}

h1 span {
  color: white;
}

p + h1, ul + h1 {
  margin-top: 50px;
}

p {
  margin-bottom: 20px;
}

.link_color {
  color: black;
}

.low_opacity {
  opacity: 0.5;
}

.navbar {
  background-color: white;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1);
}

#navbar {
  height: 168px;
  a {
  color: #052F5F;
  }
}

.navbar-toggle {
  border: #ddd;
}

.navbar-collapse {
  background-color: white;
}

.icon-bar {
  background: #3EAEAC;
}

.edge-to-edge {
  margin-left: -15px;
  margin-right: -15px;
  padding: 20px 15px 40px;
}

.edge-to-edge li {
  margin: 7px 0px 10px -40px;
}

.container {
  max-width: 750px;
}

.masthead-dark {
  background: #0C5C98;
  background: linear-gradient(-45deg, #052f5f 0%,#0c5c98 100%);
}

.masthead-dark h1 {
	color: #5ECFCD;
}

.masthead-dark p {
  color: white;
}

.masthead-dark a {
  color: #5ECFCD;
}

.masthead-light {
  background: #F1FDFF;
  // background: linear-gradient(to bottom, #FFFFFF 0%,#E7FCFF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.centered {
  text-align: center;
}

.flex-icons {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;
    -webkit-align-items: top;
  align-items: top;
  margin-bottom: 15px;
}

.doh-parts {
  margin: 10px;
  text-align: center;
  width: 125px;
}

.icon-boxed {
  border: 1px solid #D1D3D7;
  border-radius: 6px;
  height: 75px;
  margin: 0 25px 3px;
  padding: 15px 5px 0;
  width: 75px;
}

a.btn-large {
  background-color: rgba(57,106,158,0.8);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.55);
  color: #C5FFFE;
  font-size: 17px;
  margin-top: 10px;
  max-width: 450px;
  padding: 10px 90px;
  width: 100%;
}

hr {
  background: url('../images/icon-separator.svg') no-repeat top center;
  border: none;
  height: 13px;
}

.extra_top_spacing {
  margin-top: 50px;
}

.image-bullet {
  margin-bottom: 20px;
}

.image-bullet .icon {
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 53px;
  vertical-align: middle;
  width: 53px;
}

.image-bullet .description {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  width: calc(100% - 100px);
}

.icon-records {
  background: url('../images/icon-records.svg');
}

.icon-chart {
  background: url('../images/icon-chart.svg');
}

.icon-diagnostics {
  background: url('../images/icon-diagnostics.svg');
}

.icon-services {
  background: url('../images/icon-services.svg');
}

.icon-access {
  background: url('../images/icon-access-anywhere.svg');
}

.footer {
  padding-top: 15px;
  padding-bottom: 15px;
}

.design-comps img {
  margin-bottom: 30px;
  width: 100%;
}

.input-underline {
  background-color: transparent;
  border: 0px solid #000;
  border-bottom-width: 1px;
  width: 100%;
  .input-underline:focus {
     outline: none;
  }
}

.white-button {
  background-color: white;
  border-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 7px #bbb;
  height: 47px;
  margin: 29px 0px;
  width: 100%;
}

.blue-button {
  background-color: #3A6792;
  border-color: #3A6792;
  border-radius: 5px;
  box-shadow: 1px 1px 7px #042749;
  color: white;
  height: 47px;
  margin: 29px 0px;
  width: 100%;
}

.remove-edge-padding {
  padding: 0px;
}

.edge-padding {
  padding: 0px 30px;
}

.full-width {
  max-width: 100%;
}

// STRATEGY PAGE
.timeline_division {
  width: 100%;
  height: 1px;
  margin: 30px 0px 30px 0px;
  background-color: #8298B0;
}
#selfcare_img {
  max-width: 300px;
  margin: 40px;
}
.paragraph_spacing {
  margin: 50px auto;
}
.elements_bg_image {
  height: 150px;
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: center -2px;
}

// DESIGN PAGE
.design_category {
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 50px;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 7px #bbb;
  background-size: auto 100%;
  div {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 6px 30px;
    background-color: white;
    h3 {
      margin: 18px 0px 9px 0px;
    }
  }
}
#hover_prototypes {
  div {
    transition: all 0.3s;
  }
  div:hover {
    background-size: auto 105%;
  }
}
#hover_concepts {
  @extend #hover_prototypes;
}
#hover_patterns {
  @extend #hover_prototypes;
}
#hover_models {
  div {
    background-size: 101%;
    transition: all 0.3s;
  }
  div:hover {
    background-size: 106%;
  }
}
@media screen and (max-width: 480px) {
  #hover_principles {
    div {
      background-position:center -60px;
      background-size: 100%;
      transition: all 0.3s;
    }
    div:hover {
      background-size: 105%;
    }
  }
}
@media screen and (min-width: 481px) {
  #hover_principles {
    div {
      background-position:center -200px;
      background-size: 100%;
      transition: all 0.3s;
    }
    div:hover {
      background-size: 105%;
    }
  }
}


// DESIGNS DEMOS
#mobile_careplans {
  text-align: center;
  video {
    margin: 60px 0px 30px 0px;
    box-shadow: 1px 4px 13px #bbb;
  }
}

// DESIGNS PATTERNS
#patterns_image {
  margin-top: 40px;
  text-align: center;
  img {
    max-width: 425px;
    margin-bottom: 40px;
    text-align: center;
    box-shadow: 1px 4px 13px #bbb;
  }
}

// DESIGNS PRINCIPLES
.principles_left_align {
  padding-left: 0;
  li {
    margin-left: 0;
  }
  p {
    padding-left: 0;
  }
}

// ABOUT PAGE
.studio_photo {
  width: 108%;
  margin-left: -15px;
}
.projects {
  max-width: 500px;
  margin: auto;
  margin-top: 70px;
  h4 {
    margin: 22px 0px 10px 0px;
  }
  img {
    width: 100%;
  }
}
.about_portrait {
  margin: 50px 0px 10px 0px;
}
@media screen and (max-width: 479px) {
  #healthcare_partners {
    padding: 45px 0px 45px 0px;
    margin: 0 auto;
    text-align: center;
    h3 {
      opacity: 0.5;
    }
    td {
      padding: 10px 15px;
      img {
        max-height: 47%;
      }
    }
  }
}
@media screen and (min-width: 480px) {
  #healthcare_partners {
    padding: 45px 0px 45px 0px;
    margin: 0 auto;
    text-align: center;
    h3 {
      opacity: 0.5;
    }
    td {
      padding: 10px 15px;
      img {
        max-height: 70%;
      }
    }
  }
}
