---
---
// add bootstrap variable settings here

@import 'bootstrap';

body {
  padding-top: 50px;
  font-size: 17px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
	font-weight: 300;
	letter-spacing: 0.25rem;
	margin-bottom: 2rem;
}

p {
	margin-bottom: 20px;
}

.navbar {
	background-color: white;
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1);
}

#navbar a {
	color: #052F5F;
}

h1 span {
	color: white;
}

.navbar-toggle {
	border: grey;
}

.icon-bar {
	background: #3EAEAC;
}

.navbar-collapse {
	background-color: white;;
}

.edge-to-edge {
	margin-left: -15px;
	margin-right: -15px;
	padding: 20px 15px 40px;
}

.masthead-dark {
	background: #0C5C98;
	background: linear-gradient(-45deg, #052f5f 0%,#0c5c98 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.masthead-dark h1 {
	color: #5ECFCD;
}

.masthead-dark p {
	color: white;
}

.masthead-dark a {
	color: #5ECFCD;
}

.masthead-light {
	background: #E7FCFF;
	background: linear-gradient(to bottom, #FFFFFF 0%,#E7FCFF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.pull-down {
	margin-bottom: -70px;
	text-align: center;
}

a.btn-large {
	background-color: rgba(57,106,158,0.8);
	box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.55);
	border: none;
	border-radius: 4px;
	color: #C5FFFE;
	margin-top: 10px;
	padding: 10px 90px;
	width: 100%;
	max-width: 450px;
	font-size: 17px
}

hr {
	border: none;
	height: 13px;
	background: url('../images/icon-separator.svg') no-repeat top center;
}

.image-bullet {
	margin-bottom: 20px;
}

.image-bullet .icon {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	height: 53px;
	width: 53px;
	display: inline-block;
	vertical-align: middle;
}

.image-bullet .description {
	width: calc(100% - 100px);
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.icon-environment {
	background: url('../images/icon-environment.svg');
}

.icon-genetics-biology {
	background: url('../images/icon-genetics-biology.svg');
}

.icon-individual-behavior {
	background: url('../images/icon-individual-behavior.svg');
}

.icon-social-circumstances {
	background: url('../images/icon-social-circumstances.svg');
}

.icon-medical-care {
	background: url('../images/icon-medical-care.svg');
}

.icon-records {
	background: url('../images/icon-records.svg');
}

.icon-chart {
	background: url('../images/icon-chart.svg');
}

.icon-diagnostics {
	background: url('../images/icon-diagnostics.svg');
}

.icon-services {
	background: url('../images/icon-services.svg');
}

.icon-access {
	background: url('../images/icon-access-anywhere.svg');
}

.footer {
	padding-top: 15px;
	padding-bottom: 15px;
}

.footer a {
	margin-right: 15px;
}