---
---

@import 'bootstrap';

body {
  padding-top: 50px;
  font-size: 17px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
	font-weight: 300;
	letter-spacing: 0.25rem;
	margin-bottom: 2rem;
}

p {
	margin-bottom: 20px;
}

li {
  margin: 7px 0px;
}

.navbar {
	background-color: white;
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1);
}

#navbar a {
	color: #052F5F;
}

h1 span {
	color: white;
}

.navbar-toggle {
	border: #ddd;
}

.icon-bar {
	background: #3EAEAC;
}

.navbar-collapse {
	background-color: white;
}

.edge-to-edge {
	margin-left: -15px;
	margin-right: -15px;
	padding: 20px 15px 40px;
}

.masthead-dark {
	background: #0C5C98;
	background: linear-gradient(-45deg, #052f5f 0%,#0c5c98 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.masthead-dark h1 {
	color: #5ECFCD;
}

.masthead-dark p {
	color: white;
}

.masthead-dark a {
	color: #5ECFCD;
}

.masthead-light {
	background: #E7FCFF;
	background: linear-gradient(to bottom, #FFFFFF 0%,#E7FCFF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.pull-down {
	margin-bottom: -70px;
	text-align: center;
}

a.btn-large {
	background-color: rgba(57,106,158,0.8);
	box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.55);
	border: none;
	border-radius: 4px;
	color: #C5FFFE;
	margin-top: 10px;
	padding: 10px 90px;
	width: 100%;
	max-width: 450px;
	font-size: 17px;
}

hr {
	border: none;
	height: 13px;
	background: url('../images/icon-separator.svg') no-repeat top center;
}

.image-bullet {
	margin-bottom: 20px;
}

.image-bullet .icon {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	height: 53px;
	width: 53px;
	display: inline-block;
	vertical-align: middle;
}

.image-bullet .description {
	width: calc(100% - 100px);
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.icon-environment {
	background: url('../images/icon-environment.svg');
}

.icon-genetics-biology {
	background: url('../images/icon-genetics-biology.svg');
}

.icon-individual-behavior {
	background: url('../images/icon-individual-behavior.svg');
}

.icon-social-circumstances {
	background: url('../images/icon-social-circumstances.svg');
}

.icon-medical-care {
	background: url('../images/icon-medical-care.svg');
}

.icon-records {
	background: url('../images/icon-records.svg');
}

.icon-chart {
	background: url('../images/icon-chart.svg');
}

.icon-diagnostics {
	background: url('../images/icon-diagnostics.svg');
}

.icon-services {
	background: url('../images/icon-services.svg');
}

.icon-access {
	background: url('../images/icon-access-anywhere.svg');
}

.footer {
	padding-top: 15px;
	padding-bottom: 15px;
}

.footer a {
	margin-right: 15px;
}

// goals page
#milestones {
  p {
    margin-bottom: 20px;
  }
}

// designs page
#using-the-designs {
  p {
    margin-bottom: 20px;
  }
  h3 {
    margin-left: 18px;
  }
}

#designs-categories {
  padding: 1px 0px 14px 0px;
  div {
    padding-left: 12px;
  }
  div:nth-child(even) {
    opacity: 0.3;
  }
  img {
    float: right;
  }
}

// collaborate page
.center-text {
  text-align: center;
}

.smaller-container {
  width: 64rem;
  margin: auto;
}

.smallest-container {
  width: 38rem;
  margin: auto;
}

.header-spacing {
  margin-top: 35px;
  margin-bottom: 25px;
}

.input-underline {
  width: 100%;
  border: 0px solid #000;
  border-bottom-width: 1px;
  background-color: transparent;
  .input-underline:focus {
     outline: none;
  }
}

.white-button {
  width: 100%;
  height: 47px;
  margin: 29px 0px;
  border-radius: 5px;
  background-color: white;
  border-color: white;
  box-shadow: 1px 1px 7px #bbb;
}

.blue-button {
  width: 100%;
  height: 47px;
  margin: 29px 0px;
  border-radius: 5px;
  background-color: #3A6792;
  border-color: #3A6792;
  color: white;
  box-shadow: 1px 1px 7px #042749;
}

.user-sponsor-list {
  margin-top: 40px;
  margin-bottom: 40px;
  p {
    margin-bottom: 2px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  .smallest-container {
    width: 95%;
  }
  .smaller-container {
    width: 95%;
  }
  .center-text {
    text-align: left;
  }
}
